* {
  color: blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: palegreen;
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
}

#display {
  grid-column: 1 / 5;
  background-color: #999;
  color: #000;
  font-size: 48px;
  text-align: right;
  border: none;
}

.key {
  cursor: pointer;
  box-sizing: border-box;
  height: 50px;
  min-width: 50px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333;
  background-color: #ddd;
  border: thin solid #999;
}

#all-clear {
  grid-column: 1 / 4;
}

.first-key {
  grid-column: 1 / 2;
}

.second-key {
  grid-column: 2 / 3;
}

.third-key {
  grid-column: 3 / 4;
}

.operation {
  grid-column: 4 / 5;
  background: orange;
}

#zero {
  grid-column: 1 / 3;
}