* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 200px;
}

.calculator-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#display {
  /* grid-column: 1 / 5; */
  width: 100%;
  background-color: #999;
  color: #000;
  font-size: 48px;
  text-align: right;
  border: none;
  padding: 0.15em;
}

/* removes arrows from number input */
#display::-webkit-inner-spin-button, 
#display::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.calculator-keyboard button {
  cursor: pointer;
  box-sizing: border-box;
  height: 50px;
  min-width: 50px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333;
  background-color: #ddd;
  border: thin solid #999;
}

.calculator-keyboard button.operator {
  background: orange;
}

.calculator-keyboard button:focus {
  outline: 0;
  border: medium solid #999;
}

.calculator-keyboard button.operator:focus {
  border-color: #555;
}

.calculator-keyboard button.span-3 {
  grid-column: span 3;
}
